*{
    font-family: 'Courier New', Courier;
    margin: 50px;
}

body{
    background-color: #0AFF99;
}

main{
    display: flex;
    background-color: aliceblue;
}
header{
    background-color: #A1FF0A;
    color:aliceblue;
    padding: 20px;
}

section{
    flex: 3;
    background-color: aliceblue;
}

aside{
    flex: 2;
    background-color: #A1FF0A;
}

footer{
    background-color: #A1FF0A;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}