{
    font-family: Arial, sans-serif;
    margin: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0081A7;
    margin: 20px;
}

/**Selector de clase*/
.class_selector {
    color: #FDFCDC;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

/**Selector de ID*/
#id_selector {
    color: #F07167;
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

/**Selector de etiqueta*/
#selectores_universales_combinaciones{
    color: #F07167;
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic;
}

#selectores_universales_combinaciones p{
    color: #FDFCDC;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

#selectores_universales_combinaciones ul li strong{
    color:  #0f0f06;
    font-size: 16px;
}

.display_block {
    margin: 25px 0 25px 0;
    display: block;
    background-color:#FDFCDC;
}

.display_inline {
    margin: 25px 0 25px 0;
    display: inline;
    background-color: #F07167;
    color: #FDFCDC;
}

.display_inline_block {
    display: inline-block;
    background-color: #FDFCDC;
    color: #0f0f06;
    padding: 5px;
}

.pseudo_hover {
    background-color: green;
    color: #0f0f06;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #0f0f06;
    padding: 25px 10px 25px 10px;
}

.pseudo_hover:hover {
    background-color: #F07167;
    color: #FDFCDC;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #0f0f06;
    padding: 40px 20px 40px 20px;
}

.pseudo_focus {
    background-color: #FDFCDC;
    color: #0f0f06;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #0f0f06;
    padding: 25px 10px 25px 10px;
}

.pseudo_focus:focus {
    background-color: #F07167;
    color: #FDFCDC;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #0f0f06;
    padding: 40px 20px 40px 20px;
}

.input_text {
    background-color: #F07167;
    color: #0f0f06;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #0f0f06;
    padding: 25px 10px 25px 10px;
    appearance: none;
}

,.pseudo_active {
    background-color:  #F07167;
    color: #0f0f06;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #0f0f06;
    padding: 25px 10px 25px 10px;
}

.pseudo_active:active {
    background-color: #F07167;
    color: #FDFCDC;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #0f0f06;
    padding: 40px 20px 40px 20px;
}
